
@media screen and (max-width:1290px)

{
  .main1
  {
      margin-top: 5%;
  }  
.containerfiltres
{

width: auto;
margin-right: 20%;
}
.containerfiltres h3

{
    font-size: 80%;
}
::placeholder
{
    font-size: small;
}
.container 
{
    height: auto;
    width: auto;
    background-color: lawngreen;
    margin-top: 5%;
    
}

.cannebiere
{
    height: 70%;
}
.port
{
height: 70%;
}
.mouette
{
    height: 70%;
 }
    .mer 
    {
        height: 70%;
     }
    .panier 
    {
        height: 70%;
     }  
    .Amina 
    {
        height: 70%;
     }
     .hebmars h4
     {
         font-size: 70%;
     } 
     .hebmars h2 
{
    font-size: 70%;
}
.populaires h4
{
    font-size: 60%;
    background-color: lawngreen;
    margin-bottom: 0%;
    width: 80%;
}
.populaires h2
{
    font-size: 60%;
    margin-top: 0%;
}
.coeur
{
  height: 23%;  
}

.activites
{
 margin-top: 5%;
 margin-bottom: -10%;
}
.vieuxport
{
    height: 45%;
}
.vieuxport img
{
    height: 24vw;
    width: 18vw;
}
.calanques
{
    height: 65%;
}
.calanques img 
{
    height: 24vw;
    width: 18vw;
}
.colonne2
{
    display: block;
}
.colonne4
{
    display: block;
}
.frioul
{
    margin-bottom: 16%;
}
.longchamps
{
    margin-bottom: 16%;
}
.footer
{
   margin-top: 0%;
    }   

}
@media screen and (max-width:840px)
{
   
.animaux
{
    width: 17vw;
}
.h1
{
    font-size: 120%;
}  
.titres1 h2
{
    font-size: 90%;
}
.footer
{
    margin-top: 0;
}
}