


@media screen and (max-width:425px)
{
    .navbar
    {
      font-size: medium;  
    }
    .ville
    {
        width: 30vw;
    }
    #search
    {
        width: 25vw;
    }
    .rechercher
    {
        margin-top:2vw;
    }
    .containerfiltres
    {
      margin-top: 2vw;
        flex-direction: column;
        align-items: flex-start;
        gap: 4vw;
    }
    .economique
    {
        width: 20vw;
    }
    .romantique
    {
        width:20vw;
    }
    .familial
    {
        width: 20vw;
    }
    .animaux
    {
        width: 50vw;
    }
    .icon
    {
        margin-bottom: 3vw;
    }
   
}