@font-face
{font-family:raleway, sans-serif;
src: url(raleway\raleway); 
}
body
{
    margin: 3px 3px 5px 3px;

}
header
{
    
    padding-top: 20px;
    box-sizing: border-box;
}



.logo
{
   padding-top:10px;
    height :40px;
    width: 70px;
}
.navbar
{
    display: flex;
    justify-content: space-between;
}
.navbar a
 {
   
    padding: 12px;
    color: #0065FC;
    cursor: pointer;
    text-decoration: none;       

}
.navbar ul
{
    display: flex;
    align-items: center;
   
}
.navbar li
{
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    list-style-type: none;  
}
.navbar ul li a:hover
{
    border-top: 2px solid #0065FC;

}




#rechercher
{
    cursor: pointer;
    border: 10px solid #0065FC;
    background: #0065FC;
    color: #ffffff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 2.7em;
    padding-left: 0px;
    
  
    }
 .search
{
    display: flex;
  
   

}

.search i{
        padding-top: 10px;
         padding-right: 5px;
         border-radius: 20px;
         align-items: center;
         border: 2px solid #F2F2F2;
         padding: 10px 10px;
         background-color: #F2F2F2;
      

 }
#ville
{
    padding: 7px 8px;
    font-weight: bold;
    font-size: 15px;
  
}
.titres1
{
    display: block;
    line-height: 8px;
   
}
.titres h1
{
    font-size: 27px;
    padding-left: 5px;

}
    
   
    

  /* Partie filtres flex-----------------*/

  .containerfiltres
    {
        display: grid;
        grid-template-columns: 1f 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 20px;
        width: 800px;
        height: 70px;
        justify-content: space-around;
        gap: 10Px;


     }
     .containerfiltres h2
     {
         font-size: 20px;
        text-transform: capitalize;
        text-align: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 5px;
   
      
      
       
       
     }
     
     .containerfiltres i
     {

         border-radius: 20px;
         color:#0065FC ;
         align-items: center;
         border: 2px solid #DEEBFF;
         padding: 10px 10px;
         background-color: #DEEBFF ;
         margin-top: auto;
         margin-bottom: auto;
        
     }
     
     .filtres
     {

        display: flex;
        height: 35px; 
        border-radius: 20px;
        justify-items: start;
        justify-content:start;
        margin-top: 15px;
      
        
    }
    .economique
      {
        display: flex;
        flex-direction: row;
        border: 2px solid#DEEBFF ; 
        height: 35px; 
        width: 120px; 
        border-radius: 20px;
        padding-right: 50px;
        justify-content: start;
        justify-items: start;
        gap: 3px;
        margin-top: auto;
        margin-bottom: auto;      
      
    }
   
    
      .familial
      { 
        display: flex;
        flex-direction: row;
        grid-column: 3;
        border: 2px solid#DEEBFF ; 
        height: 35px; 
        width: 120px; 
        border-radius: 20px;
        padding-right: 10px;
        justify-content: start;
        margin-top: 15px;
        justify-items: start;
        gap: 3px;
     
    }
      
      
     
      .romantique
      {  
        display: flex;
        flex-direction: row;
        grid-column: 4;
        border: 2px solid#DEEBFF ; 
        height: 35px; 
        width: 150px; 
        border-radius: 20px;
        padding-right: 10px;
        justify-content: start;
        margin-top: 15px;
        justify-items: start;
        gap: 3px;
    
         }
      .animaux
      {
        display: flex;
        flex-direction: row;
        grid-column: 5;
        border: 2px solid#DEEBFF ; 
        height: 35px; 
        width: 210px; 
        border-radius: 20px;
        padding-right: 10px;
        justify-content: start;
        margin-top: 15px;
        justify-items: start;
        gap: 3px         
    }
  
  .info
  {
      display: flex;
      align-items: center;
  }
    
    /* 1ere  section partie hébergement*-------------*/

       .Hebmars 
       {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 40px 120px 120px 40px;       
            background-color: #F2F2F2;
            justify-content: space-around;
            grid-column-gap: 5px;
            grid-row-gap: 5px;
            width: 70%;
            height: 530px;
            row-gap: 60px;
            column-gap: 15px;
            border-radius: 20px;   
            padding-left: 10px; 
                       
      
    }
    .Hebmars img
    {
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 220px;
        height: 90px;
        margin-top: 10px;
   
    

        }
    
     .Hebmars a:hover

    {
     cursor: pointer;
    }
    
    
    .canebière
    {
        box-shadow: 3px 3px 3px slategrey;
        border: 2px white solid;
        border-radius: 20px;
        grid-row-start: 2;
        grid-column: 1;   
        box-shadow: 1px slategrey;
        width: 210px;
        height: 155px;
        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        list-style-type: none;
        padding-left: 10px;
        padding-right:  10px;    
      
    }
.iblue
{
    color: #0065FC;
   
}
.igrey
{
    color: #F2F2F2;
   
}
    .port
    {
        box-shadow: 3px 3px 3px slategrey;
        border: 2px white solid;
        border-radius: 20px;
        grid-row-start: 2; 
        grid-column: 2; 
        padding: 1px 10px; 
        box-shadow: 2px slategrey;
        width: 210px;
        height: 155px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
        list-style-type: none;
        padding-left: 10px;
        padding-right:  10px;    
   

   }
    .mouette
    {
        box-shadow: 3px 3px 3px slategrey;
        border: 2px white solid;
        border-radius: 20px;
        grid-row-start: 2; 
        grid-column: 3; 
        padding: 1px 10px; 
        box-shadow: 2px slategrey;
        width: 210px;
        height: 155px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
        list-style-type: none;
        padding-left: 10px;
        padding-right:  10px;
        }
        
    .mer
    { 
        box-shadow: 3px 3px 3px slategrey;
        border: 2px white solid;
        border-radius: 20px;
        grid-row-start: 3; 
        grid-column: 1; 
        padding: 1px 10px; 
        box-shadow: 2px slategrey;
        width: 210px;
        height: 155px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
        list-style-type: none;
        padding-left: 10px;
        padding-right:  10px;
        }
.panier
    {
        
        box-shadow: 3px 3px 3px slategrey;
        border: 2px white solid;
        border-radius: 20px;
        grid-row-start: 3;  
        grid-column: 2;
        padding: 1px 10px; 
        box-shadow: 2px slategrey;
        width: 210px;
        height: 155px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
        list-style-type: none;
        padding-left: 10px;
        padding-right:  10px;
    }
   
    .amina
    {
        box-shadow: 3px 3px 3px slategrey;
        border: 2px white solid;
        border-radius: 20px;
        grid-row-start: 3;  
        grid-column: 3;
        padding: 1px 10px; 
        box-shadow: 2px slategrey;
        width: 210px;
        height: 155px;
        font-size: 15px;
        background-color: white;
        cursor: pointer;
        text-decoration: none;
        list-style-type: none;
        padding-left: 10px;
        padding-right:  10px;
    }
   
    h4
    {
        grid-column: 1;
        grid-row: 4;
       
        
    }
    .photos
    {
        display: flex;
        flex-direction: row;
       
       
        
    }
   

   /* aside--------------------*/

    .populaires
    {
        display: flex;
        flex-direction: column;
        border-spacing: 30px;
        border-radius: 10px;
        width: 290px;
        height: 530px;
        align-items: stretch;
        grid-row-gap: 2rem;
        background-color: #F2F2F2;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 15px;    
    }
    .starb
    {
        color:#0065FC;
    }
    .starg
    {
        color: #F2F2F2;
    }     
    
   #populaires
   {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-between;
     
        }
  
    .soleil 
    {
    box-shadow: 3px 3px 3px slategrey;
    border: 3px white solid;
    border-radius: 20px;
    padding-left: 0px;
    padding-top: 2px;  
    height: 100px;
    width: 260px;
    margin-bottom: 10px;
   
  
    }
     .soleil img
        {
            float: left;
            object-fit:cover;
            height: 100px;
            width: 130px; 
            border-radius: 20px;           
        }
       
      .coeur  
      {
        box-shadow: 3px 3px 3px slategrey;
        border: 3px white solid;
        border-radius: 20px; 
        height: 100px;
        width: 260px;
        margin-top: 60px;
         padding: 2px 10px 0px 2px;
        
        }
        
        .coeur img
        {
            float: left;
            object-fit:cover;
            height: 100px;
            width: 130px;  
            border-radius: 20px; 
            margin-left: 0px;
              
        }
        
       .bleu
       {
        box-shadow: 3px 3px 3px slategrey;
        border: 3px white solid;
        border-radius: 20px;
        height: 100px;
        width:260px;
        margin-top: 60px;
        padding: 2px 10px 0px 2px;  
      
    }
            
      .bleu img
      {
        float: left;
        object-fit:cover;
        height: 100px;
        width: 130px;
        border-radius: 20px;
       
      
    }
   
      
   /* 2e partie  section activités flex GRID---------*/
   
   .activités 
   {
       display:grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       grid-template-rows:  20px 170px 170px;
       row-gap: 15px;
        column-gap: 10px;
        height: 350px;
        grid-row: 2;
        grid-row-gap: 30px;
        padding: 10px 0px 10px 10px;
        margin-top: 3px;
     

      
     }
     .activités figcaption  
     {
         padding-left: 15px;
     }  
   .titres  
   {
       grid-row: 1;
       grid-row-gap: 2rem;
       padding-left: 20px;
       padding-bottom: 20px;
      
   }
.activités img
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    row-gap: 10px;
    
    object-fit: cover;
}
  .vieuxport
     
  {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      grid-column-start: 1;
      grid-row: span 2;
      grid-row-start: 2;
      grid-row-gap: 2rem;
      align-items: center;
      justify-content: center;
  
    
         
      }
      .vieuxport img
      {
        width: 250px;
        height: 330px; 

      }
.calanques
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    grid-column-start: 3;
    grid-row-start: 2;  
    border-radius: 20px;
    padding-left: 15px;  
  
}
.calanques img
{
    width: 250px;
    height: 330px; 

}
.frioul
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    grid-column-start: 2;
    border-radius: 20px; 
    grid-row: 3;  
}
.frioul img
{
    height: 130px;
     width: 320px;
}
.pomegues
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 2; 
    
}
.pomegues img
{
    height:130px;
     width: 320px;
}
.dame
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    grid-column-start: 4;
    grid-row-start: 2;
    border-radius: 20px;    
}
.dame img
{
    height:130px;
     width: 320px;
}
.longchamps
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    grid-column-start: 4;
    grid-row-start: 3;
    border-radius: 20px;
}
.longchamps img
{
    height:130px;
    width: 320px;
}
.photos
{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2rem;
}

.container
{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 800px;
    padding-bottom: 20px;
    margin-bottom: 20px; 
}


/* footer liste-------------------------------*/
.footer
{
display: flex;
align-content: flex-start;
padding: 10px -10px 10px 10px;
justify-content: space-between;
padding-right: 320px;
padding-left: 0px;
margin-top: 250px;
background-color:#F2F2F2 ;

}
.footer h4
{
    font-weight: bold;
    line-height: 2px;
}
#footer1
{
    margin: left 0;
    text-align: start; 
}