@font-face
{font-family:raleway, sans-serif;
src: url(C:\Users\shado\OneDrive\Bureau\NathalieDesvars_2_01022021\DESVARS_2_01022021); 
}

header
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .navbar a:hover
{
    border-top: 2px solid blue;
}
a
{
    text-decoration: none;
    padding: 12px;
    background-color: white;
    color:#0065FC;
       
}

.navbar
{
   display: flex;
   justify-content: space-between;
   padding: 16 px;
  
}
.navbar ul
{
 display: flex; 
 align-items: center; 
 list-style-type: none; 
}

h3
{
    display: inline; 
  
}

#rechercher
{
    border-radius: 20px;
    color: cornsilk;
    background-color:blue;

    }
    /* revoir les bordures*/
    .containerfiltres
    {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
    }
    /* footer et flexbox*/
    h4
    {
    
      text-align :center
    }
    
    ul li
    {
             list-style-type: none; 
             margin-left: 0%; 
             padding-left: 0%;
    }
    .end
    {
        display: flex;
        align-content: flex-end;  
        justify-content: space-between;   
    }
    /* 2e partie image flottante*/
    .aubergelacan
    {
        float: left;    
    }
    .Hebmars p
    {
        display: inline-block;
        box-shadow: 3px;
        border: 3px white solid;
        width: 150px;
        border-radius: 15px;
        background-color: white;

        }
        .photos
        {
            background-color:#DCDCDC;

        }