@font-face
{font-family:raleway, sans-serif;
src: url(raleway\raleway); 
}

.pagereservia
{
   
    margin-right: 20px;
    margin-left: 20px;
}
.main
{
    display:flex;
    justify-content: space-between;
    
}
.logo img
{
    width: 70px;
    height: 40px;
}
.navbar
{
    display: flex;
    justify-content:row reverse;
}
.navbar a
 {
    text-decoration: none;
    
}
nav li a
{

 text-decoration: none;
}

.a:visited
{
    color:blue;
    
}
.navbar ul
{
    display: flex;
    list-style-type: none;    
  
}

.navbar li
{
    margin-right: 15px;
  
}
.titres1
{
    display: flex;
    flex-direction: column;
}
h1
{
    font-size: 20px;
    margin-bottom: 0px;
}
.titres1 h2
{
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;

}
#search
{
 
    border-bottom-right-radius:10px;
    border-top-right-radius: 10px;
    width: 150px;
    height: 35px;
    background-color: #0065FC ;
    color: #DEEBFF;
    font-size: 16px;
   
      
 
}
.ville
{
    height: 30px;
    width: 200px;
    align-items: center;
    margin-left: 15px;      
}
form
{
    height: 30px;   

}
.rechercher
{
    display:flex;
    margin-bottom: 10px;
    margin-top: 20px;
    align-items: center;
    height: 35px;
    background-color: #DEEBFF;
    width: 35px;
    border-radius: 50px;
 
   
}

.rechercher i
{
    margin-left: 10px;
}

.info i
{
    
   color: #0065FC;
  margin-left: 8px;
  font-size: 11px;
  margin-bottom: 8px;
 
   
}
.info
{
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    border-left: 20px;
     
   
}
.info p
{
margin-left: 10px;
width: 400px;

}

  /* Partie filtres flex-----------------*/
.containerfiltres
{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 800px;
    margin-bottom: 20px;
  
   
}

.economique
{
    display: flex;
    justify-items: space-between;
    align-items:center;
    border-radius: 20px;
    text-transform: capitalize;
    height: 35px;
    width: 150px;
    font-size: 12px;
    margin-left: 20px;
    margin-right: 10px;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
    box-shadow: slategrey 1px;
}
.economique h3
{
    margin-left: 10px;
}

.familial
{
    display: flex;
    justify-items: space-between;
    align-items: center;
    text-transform: capitalize;
    border-radius: 20px;
    width: 120px;
    height: 35px;
    font-size: 12px; 
    margin-right: 20px;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid;
} 
    
.familial h3
{
    margin-left: 10px;
}

.romantique
{
    display: flex;
    justify-items: space-between;
    align-items: center;
    text-transform: capitalize;
    border-radius: 20px;
    width: 150px;
    height: 35px;
    font-size: 12px;
    margin-right: 10px;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid
}
.romantique h3
{
    margin-left: 10px;
}
.animaux
{
    display: flex;
    justify-items: space-between;
    align-items: center;
    text-transform: capitalize;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    font-size: 12px;
    border-top: #F2F2F2 2px solid;
    border-bottom: #F2F2F2 2px solid
} 
.animaux h3
{
    margin-left: 10px;
}
.icon
{

  
    align-items: center;
    margin-top: 5px;
    border-radius: 50px;
    background-color: #DEEBFF; 
    height: 36px;
    width: 36px;
    font-size: 13px;
   
   
}
.icon i
{

color: #0065FC;
margin-top: 10px;
margin-left:12px;



}  
.filtres h3
{
  
 
    text-transform: capitalize;
  
}



.main1
{
    display: flex;
    flex-direction: column;
}

    
    /* 1ere  section partie hébergement*-------------*/

    .container
    {
        display: flex;
  
      margin-top: 30px;
    }
    .hebmars
{
    display: flex;
    margin-left: 10px;
    width: 850px;
    border-radius: 20px;
   background-color: #F2F2F2;
    justify-content: space-between;
    
   
    
}

.canebiere
{
    display: flex;
    flex-direction: column;
  
    border-radius: 20px;
   
     width: 240px;
     height: 160px; 
     
    
}
.port
{
    background-color: white;
    width: 240px;
    height: 160px; 
    border-radius: 20px;
    margin-left: 10px;
}
.mouette
{
    background-color: white;
    width: 240px;
    height: 160px; 
    border-radius: 20px;
    margin-left: 10px;
}
.hebmars1 img
{
    width: 220px;
    height: 100px;
    margin-top: 8px;
    margin-left: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
  
.hebmars h1
{
    margin-left: 20px;
    margin-bottom: 20px;
}
.hebmars h2
{
    margin-top: 0px;
    text-decoration: none;
    margin-bottom: 0px;
    margin-left: 10px;
    font-size: 10px;
    
}
 .hebmars h4
{
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    font-size: 15px;
    margin-left:10px;

}
.hebmars h5
{
    margin-left: 20px;
    margin-bottom: 10px;
}
.stars
{
    display: flex;
    align-items: baseline;
    margin-left: 10px;
}
.iblue
{
    color: #0065FC;
}
.igrey
{
    color: silver;
}
.hebmars1
{
    display: flex;
  
    justify-content: space-between;
    width: 800px;
    height: 200px; 
    margin-left: 20px;
}
.hebmars2
{
    display: flex;
  
    justify-content: space-between;
    width: 800px;
    height: 180px;
    margin-top: 10px;
    margin-left: 20px;
    
}
.hebmars2 img
{
    width: 220px;
    height: 100px;
    margin-top: 8px;
    margin-left: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
   
}
.mer
{
    background-color: white;
    width: 245px;
    height: 160px; 
    border-radius: 20px;
}
.panier
{
    background-color: white;
    width: 245px;
    height: 160px; 
    border-radius: 20px;
}
.Amina
{
    background-color: white;
    width: 245px;
    height: 160px; 
    border-radius: 20px;
}
  
   
       
/*populaires aside flex----------------------------------*/
.populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 400px;
    height: 500px;
    margin-left: 60px;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    
    
}

.pop 
{
    display: flex;
    flex-direction:row;
    background-color: #F2F2F2;
    width: 350px;
    height: 50px;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 13px;    
}

.descriptif
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
   background-color:#F2F2F2;
    margin-right:30px;
    margin-bottom: 20px;
   
}
.descriptif img
{
    width: 120px;
    height: 100px;
    object-fit: cover;
    margin-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;
    border: 0,2rem solid white;
   
    
}
.fig
{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 205px;
    height: 100px;
   
    border-bottom-right-radius:20px ;
    border-top-right-radius:20px;

}
.stars1
{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
}
.fig h2
{
    font-size: 10px;
}
.fig h4
{
    margin-top: 5px;
   width: 118px;
    
}
.soleil
{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 105px;
    border-radius: 20px;
    margin-top: 20px;
   
}

.coeur
{
    display: flex;
    flex-direction: row;
    width: 350px;
    height: 100px;
    margin-top: 40px;
}

.bleu
{
    display: flex;
    flex-direction: row;
    Width: 350px;
    height: 100px;
    margin-top: 40px;
}
 

   /* activités--------------------------------------*/ 
.activites
{
    display: flex;
    background-color:#F2F2F2;
   justify-content: space-around;
    margin-top: 15px;
    
   
    
}
.vieuxport
{
    border: 1px solid#F2F2F2;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
    box-shadow:0 0 0,2em grey;
    box-sizing: border-box;
   
}
.vieuxport img
{
 width: 280px;
 height: 400px;
 object-fit:cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.calanques
{
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 20px;
   margin-top: 70px;
   background-color: white;
}
.calanques  img
{
   width:280px;
   height:400px; 
   object-fit: cover; 
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   

}
.Pomegues
{
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
   
}
.Pomegues  img
{
    height:160px;
    width:290px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
} 
.frioul
{
    border: 1px solid white;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
     margin-top: 40px; 
}  
.frioul img
{
    height:160px;
    width:290px;
    object-fit: cover;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.dame
{
    border: 1px solid white;
    border-top: 40px;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
}
.dame img
{
    height:160px;
    width:290px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.longchamps
{
    border: 1px solid white;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: white;

    margin-top: 40px;
   
}
.longchamps img
{
    height:160px;
    width:290px;
    object-fit: cover;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 
} 

.titres
{
    display: flex;
    flex-direction: column;
}
.activites figcaption
{
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}
.colonne2
{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    justify-content: space-between;
  
}
.colonne4
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
   
 
}

/* footer liste-------------------------------*/
.footer
{
display: flex;
align-content: flex-start;
justify-content: space-between;
margin-top: 100px;
background-color:#F2F2F2 ;
}
.footer2
{
    margin-right: 100px; 
}
.footer3
{
    margin-right: 400px;
}
.footer h4
{
    font-weight: bold;
    line-height: 2px;
}
li
{ 
    text-align: start; 
    list-style-type: none;
   
}
li h5
{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

